<h1 style="color:cornflowerblue; justify-content: center; display: flex; align-items: center; text-align: center;">Vui
    lòng không sửa link URL có thể dẫn đến lỗi
</h1>
<h1 style="color:cornflowerblue; justify-content: center; display: flex; align-items: center; text-align: center;">
    Vui lòng thoát khỏi trang này!
</h1>