<h1 style="color:cornflowerblue; justify-content: center; display: flex; align-items: center; text-align: center;">Thanh
    Toán Thành Công
</h1>
<h1 style="color:cornflowerblue; justify-content: center; display: flex; align-items: center; text-align: center;">
    Vui lòng thoát khỏi trang này!
</h1>